
.private-channel-call {
    background: transparent !important;
}
.private-channel-call > div {
    background: rgba(0,0,0,.8);
}

.textArea-20yzAH {
	max-height: calc(12*1.3em);
}

body:before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: radial-gradient(rgb(70,70,70) , rgb(40,40,40) 80%, rgb(20,20,20) 100%);
	background-size: cover;
	background-position: center;
	z-index: -100;
	opacity: 0.97;
}

#app-mount:before {
	content: '';
	font-family: 'Press Start 2P';
	position: absolute;
	width: 100%;
	height: 100vh;
	line-height: 100vh;
	text-align: center;
	font-size: 80px;
	z-index: -99;
	background: -webkit-linear-gradient(#c00 45%, #00f 55% );
	-webkit-background-clip: text;
	color: transparent;
	text-shadow: -2px -2px 0px rgba(0,0,0,.8);
}

/***
 *      _______
 *     |__   __|
 *        | |_ __ __ _ _ __  ___ _ __   __ _ _ __ ___ _ __   ___ _   _
 *        | | '__/ _` | '_ \/ __| '_ \ / _` | '__/ _ \ '_ \ / __| | | |
 *        | | | | (_| | | | \__ \ |_) | (_| | | |  __/ | | | (__| |_| |
 *        |_|_|  \__,_|_| |_|___/ .__/ \__,_|_|  \___|_| |_|\___|\__, |
 *                              | |                               __/ |
 *                              |_|                              |___/
 */

/* In Chat objects */
.message-group .comment .markup pre,
.inline {
	background: rgba(0,0,0,.5) !important;
	border: 0 solid black !important;
	border-radius: 5px !important;
}

.message-group .comment .markup pre code {
	border-color: transparent;
	background: transparent !important;
}

.embedPill-3sYS1X {
	width: 5px;
}

.embedInner-t4ag7g {
	border: 0;
}

/* Input bar */

.channelTextArea-1HTP3C > .inner-3if5cm,
.autocompleteInner-N7OQf1 {
	background-color: rgb(10,10,10) !important;
}

/* Title Bar */
 .titleBar-3_fDwJ {
	 margin-top: 0;
	 padding-top: 4px;
	 background-color: rgba(0,0,0,.7);
 }

 /* Channel members */
.channel-members-wrap {
	background-color: rgba(0,0,0, .45);
}
 /* Chat */
#friends > .friends-table,
.chat .content > .flex-spacer {
	background: rgba(0,0,0,.6);
}

#friends > .friends-table {
	margin-top: 0;
	padding-top: 20px;
}

/* Channels */
.private-channels > [class*="scrollerWrap-"],
[class*="channels-"] > [class*="flex-"] > [class*="scrollerWrap-"] > [class*="scroller-"],
[class*="channels-"] > [class*="container-"] {
	background-color: rgba(0,0,0, .3);
}

/* Headers */

.private-channels .search-bar,
[class*="flexChild"] > [class*="container-"] > [class*="header-"],
#friends > [class*="flex"],
.chat > [class*="titleWrapper-"] > [class*="flex-"] {
	background: rgba(0,0,0,.7);
}

/* Guild scroller */

.guilds-wrapper {
	background: rgba(0,0,0, .1);
}

/* Settings */

.ui-standard-sidebar-view .sidebar-region{
	background: rgba(0,0,0, .3) !important;
}

.ui-standard-sidebar-view .content-region {
	background: rgba(0, 0, 0, .5) !important;
}

/*
--
--  Full transparency
--
*/

/* Settings */
.ui-standard-sidebar-view,

/* Guild scroller */
.guilds-wrapper .scroller.wrap,

/* Friends */
#friends,
#friends > .friends-table > .scroller-wrap,

/* Channels */
[class*="flex-"] > [class*="channels-"],
[class*="channels-"] > [class*="flex-"],
[class*="channels-"] > [class*="flex-"] > [class*="flexChild-"],
[class*="channels-"] > [class*="flex-"] > [class*="scrollerWrap-"],

/* Chat */
.search-results-wrap,
.typing-3eiiL_ ,
.messages-wrapper,
.messages-wrapper .scroller-wrap,
.messages-wrapper .scroller-wrap .messages,
.chat,
.chat form,
.chat .content,
.typing,

/* General */
.layer-kosS71,
.layers-20RVFW,
.container-2OU7Cz,
#app-mount,
.layers,
.layer,
.layer > [class*="container-"],

/* Channel members */
.channel-members-wrap > [class*=scroller],
.channel-members-wrap .channel-members {
	background: transparent !important;
}


.unread-mentions-indicator-bottom,
.unread-mentions-indicator-top {
	display: none;
}

/***
 *      ______ _ _                    _                 _
 *     |  ____(_) |                  | |               | |
 *     | |__   _| | ___   _   _ _ __ | | ___   __ _  __| |
 *     |  __| | | |/ _ \ | | | | '_ \| |/ _ \ / _` |/ _` |
 *     | |    | | |  __/ | |_| | |_) | | (_) | (_| | (_| |
 *     |_|    |_|_|\___|  \__,_| .__/|_|\___/ \__,_|\__,_|
 *                             | |
 *                             |_|
 */

.uploadModal-2KN6Mm,
.uploadModal-2KN6Mm .footer-4pOKm8 {
	background-color: rgb(50,50,50);
}
.uploadModal-2KN6Mm .inner-1-09ZV {
	background-color: rgba(0,0,0,.5);
	border-color: black;
}

.uploadModal-2KN6Mm .inner-1-09ZV .file-XhJJS_ .icon-19bbE_.image-sUU6Oh {
	border-color: black;
}

.uploadModal-2KN6Mm .footer-4pOKm8 .button {
	margin-right: 5px;
	background-color: rgb(100,100,100);
	color: white;
}

.uploadModal-2KN6Mm .footer-4pOKm8 .button-primary {
	background-color: rgb(200,200,200);
	color: rgb(50,50,50);
}

/***
 *       _____       _ _     _
 *      / ____|     (_) |   | |
 *     | |  __ _   _ _| | __| |___
 *     | | |_ | | | | | |/ _` / __|
 *     | |__| | |_| | | | (_| \__ \
 *      \_____|\__,_|_|_|\__,_|___/
 *
 *
 */

:not(.guilds-wrapper.DSAC-styled) .guilds-add > .guilds-add-inner {
 	font-size: 0 !important;
 }

:not(.guilds-wrapper.DSAC-styled) .guilds-add:before {
	content: 'add';
	position: relative;
	width: 100%;
	height: 100%;
	bottom: 6px;
	text-align: center;
	font-size: 15px;
	color: white;
	text-transform: uppercase;
}

:not(.guilds-wrapper.DSAC-styled) .guilds-add:hover:before {
	content: 'click';
	font-size: 15px;
	bottom: 6px;
}

.guilds-wrapper:not(.DSAC-styled) > div > div > .dms {
   transition: 0.4s ;
 }

.guilds-wrapper:not(.DSAC-styled):not(:hover) > div > div > .guild:not(.unread):not(:first-child):not([id="bd-pub-li"]){
     opacity: 0 ;
     height: 0 ;
	 margin-top: 0;
 	 transition: height 0.4s, opacity 0.4s, margin 0.4s;
     transition-delay: 0.3s ;
 }

 .guilds-wrapper:not(.DSAC-styled) > div > div > .guild{
     opacity: 0.8 ;
	 margin-top: 0;
	 transition: height 0.4s, opacity 0.4s, margin 0.4s;
 }

 .guilds-wrapper:not(.DSAC-styled) .guilds .guild:not(:first-child) .guild-inner:hover .avatar-small{
   color: black;
   font-weight: 500;
   transition: 0.4s;
 }

 .guilds-wrapper:not(.DSAC-styled) .guilds .guild:not(:first-child) .guild-inner .avatar-small{
   color: black;
   font-weight: bold;
   transition: 0.4s;
   transition-delay: 0.2s;
 }


 :not(.guilds-wrapper.DSAC-styled) .guild.unread::before{
 	background: transparent ;
 }

/***
 *       _____ _        _
 *      / ____| |      | |
 *     | (___ | |_ __ _| |_ _   _ ___
 *      \___ \| __/ _` | __| | | / __|
 *      ____) | || (_| | |_| |_| \__ \
 *     |_____/ \__\__,_|\__|\__,_|___/
 *
 *
 */

/* Thx CompletelyUnbelievable#3231 */

div.mask-2vyqAW, div.maskProfile-MeBve8{
    mask: none !important;
    -webkit-mask: none !important;
}

/* END */

@-webkit-keyframes rainbow {
  0% {filter: hue-rotate(0deg);}
  100% {filter: hue-rotate(360deg);}
}

.audio > div > .guild-inner {
  border: 2px rgb(255,98,98) solid;
}

.audio > div > .guild-inner::after{
  background-color: transparent !important;
  background-image: none !important;
  height: 50px !important;
  width: 50px !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  bottom:0 !important;
}

.status-typing{
  border: 5px solid !important;
  border-color: hsl(0, 100%, 50%) !important;
  animation: rainbow 4s infinite linear !important;
}

div[class*="popout-"] > div [class*="avatarStatus-"]{
  margin: 0 0 0 0 !important;
  position: relative !important;
  right: 10px !important;
  top: -100px;
  height: 94px !important;
  width: 94px !important;
  border-radius: 50% !important;
  background-color: transparent !important;
  border-width: 8px !important;
  border-style: solid !important;
}

.avatar-small .status{
  margin: 0 0 0 0 !important;
  right: 2px !important;
  top: -2px;
  position: relative !important;
  height: 30px !important;
  width: 30px !important;
  border-radius: 50% !important;
  background-color: transparent !important;
  border-width: 2px !important;
  border-style: solid !important;
}

.avatar-small .status-streaming,
div[class*="statusStreaming-"] {
  border-color: #593695 !important;
}

.avatar-small .status-offline,
div[class*="statusOffline-"] {

  border-color: #747f8d !important;
  display: block !important;

}

.avatar-small .status-dnd,
div[class*="statusDnd-"]  {

  border-color: #f04747 !important;

}

.avatar-small .status-idle,
div[class*="statusIdle-"] {

  border-color: #faa61a !important;

}

.avatar-small .status-online:not(.status-typing),
div[class*="statusOnline-"]  {

  border-color: #43b581 !important;

}

/***
 *       _____ _                            _ _ _     _
 *      / ____| |                          | | (_)   | |
 *     | |    | |__   __ _ _ __  _ __   ___| | |_ ___| |_
 *     | |    | '_ \ / _` | '_ \| '_ \ / _ \ | | / __| __|
 *     | |____| | | | (_| | | | | | | |  __/ | | \__ \ |_
 *      \_____|_| |_|\__,_|_| |_|_| |_|\___|_|_|_|___/\__|
 *
 *
 */

:not([class*="Voice"]).icon-3tVJnl .background-2nyTH_,
:not([class*="Voice"]).icon-3tVJnl ~ .foreground-2zy1hc {
	stroke-width: 1;
}

.icon-3tVJnl,
.foreground-2zy1hc,
.background-2nyTH_ {
	opacity: 1;
}

.container-hidden .colorDefaultText-2v6rRX,
.container-hidden .colorDefaultVoice-1x4dEl {
	color: rgb(98,98,255);
	stroke: rgb(98,98,255);
}
.colorHoveredText-1CsxK1,
.colorHoveredVoice-1P3kui {
	color: white;
	stroke: white;
	stroke-width: 2 !important;
}

.channels-3g2vYe:hover {
	min-width: 240px;
}
.colorDefaultText-2v6rRX,
.colorDefaultVoice-1x4dEl {
	color: white;
	stroke: white;
}

.colorUnreadText-1KwCnP,
.colorUnreadVoice-1Ztv9I {
	color: rgb(255,98,98);
	stroke: rgb(255,98,98);
}

.colorLockedText-2onHWv,
.colorLockedVoice-2VCSgk{
	color: rgb(98,98,255);
	stroke: rgb(98,98,255);
}

.colorSelectedVoice-ieXC3Z,
.colorSelectedText-3YhFC6 {
	color: rgb(255,255,0);
	stroke: rgb(255,255,0);
}

.colorMutedText-2DBGZ2 {
	color: rgb(20,20,20);
	stroke: rgb(20,20,20);;
}

/***
 *       _____ _           _
 *      / ____| |         | |
 *     | |    | |__   __ _| |_
 *     | |    | '_ \ / _` | __|
 *     | |____| | | | (_| | |_
 *      \_____|_| |_|\__,_|\__|
 *
 *
 */

 .message-group {
	 padding: 4px 12px;
	 margin-top: 6px;
	 margin-bottom: 6px;
	 border-radius: 10px;
	 border-bottom: 0;
	 background: rgba(0,0,0,.3) !important;
 }

 .message-group .avatar-large {
	 margin-top: 1px;
	 margin-bottom: 1px;
 }

/***
 *       _____            _                          _
 *      / ____|          | |                        | |
 *     | |     ___   ___ | |  _ __   ___  ___  _ __ | | ___
 *     | |    / _ \ / _ \| | | '_ \ / _ \/ _ \| '_ \| |/ _ \
 *     | |___| (_) | (_) | | | |_) |  __/ (_) | |_) | |  __/
 *      \_____\___/ \___/|_| | .__/ \___|\___/| .__/|_|\___|
 *                           | |              | |
 *                           |_|              |_|
 */

.message-group .avatar-large ~ .comment .message h2 span.username-wrapper::after,
.channel-members .member .avatar-small ~ .member-inner .member-username .member-username-inner::after {
	border-radius: 2px;
	border: 1px solid;
	margin-left: 6px;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	vertical-align: bottom;
	padding: 1px 2px;
	line-height: 16px;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	opacity: 1;
}

/* Me */

.message-group:not(.compact) .avatar-large:-webkit-any([style*="261538420952662016"]) ~ .comment .message h2 span.username-wrapper::after,
.channel-members .member .avatar-small:-webkit-any([style*="261538420952662016"]) ~ .member-inner .member-username .member-username-inner::after {
	content: "Theme Dev";
	--badgecolor: 63, 162, 218;
	border-color: rgb(var(--badgecolor));
	color: rgb(var(--badgecolor));
	background: rgba(var(--badgecolor), 0.0980392);
}

/* BD Mentions */

.message-group:not(.compact) .avatar-large:-webkit-any([style*="81388395867156480"]) ~ .comment .message h2 span.username-wrapper::after,
.channel-members .member .avatar-small:-webkit-any([style*="81388395867156480"]) ~ .member-inner .member-username .member-username-inner::after {
	content: "BD Creator";
	--badgecolor: 52, 152, 219;
	border-color: rgb(var(--badgecolor));
	color: rgb(var(--badgecolor));
	background: rgba(var(--badgecolor), 0.0980392);
}

.message-group:not(.compact) .avatar-large:-webkit-any([style*="235302947058089984"]) ~ .comment .message h2 span.username-wrapper::after,
.channel-members .member .avatar-small:-webkit-any([style*="235302947058089984"]) ~ .member-inner .member-username .member-username-inner::after {
	content: "Best BD Mod";
	--badgecolor: 46, 204, 113;
	border-color: rgb(var(--badgecolor));
	color: rgb(var(--badgecolor));
	background: rgba(var(--badgecolor), 0.0980392);
}

.message-group:not(.compact) .avatar-large:-webkit-any([style*="219363409097916416"]) ~ .comment .message h2 span.username-wrapper::after,
.channel-members .member .avatar-small:-webkit-any([style*="219363409097916416"]) ~ .member-inner .member-username .member-username-inner::after {
	content: "circular";
	--badgecolor: 201, 63, 115;
	border-color: rgb(var(--badgecolor));
	color: rgb(var(--badgecolor));
	background: rgba(var(--badgecolor), 0.0980392);
}

/* Tatsumaki Mentions */

.message-group:not(.compact) .avatar-large:-webkit-any([style*="131904411789164544"]) ~ .comment .message h2 span.username-wrapper::after,
.channel-members .member .avatar-small:-webkit-any([style*="131904411789164544"]) ~ .member-inner .member-username .member-username-inner::after {
	content: "Tatsu Creator";
	--badgecolor: 233, 30, 99;
	border-color: rgb(var(--badgecolor));
	color: rgb(var(--badgecolor));
	background: rgba(var(--badgecolor), 0.0980392);
}

.message-group:not(.compact) .avatar-large:-webkit-any([style*="219150768744300545"]) ~ .comment .message h2 span.username-wrapper::after,
.channel-members .member .avatar-small:-webkit-any([style*="219150768744300545"]) ~ .member-inner .member-username .member-username-inner::after {
	content: "Best Tatsu support";
	--badgecolor: 187, 97, 226;
	border-color: rgb(var(--badgecolor));
	color: rgb(var(--badgecolor));
	background: rgba(var(--badgecolor), 0.0980392);
}

/* Nice ppl */

.message-group:not(.compact) .avatar-large:-webkit-any([style*="329114760660385794"],[style*="221087028995948546"],[style*="142410465027293184"],[style*="291600217726517248"],[style*="233611560545812480"]) ~ .comment .message h2 span.username-wrapper::after,
.channel-members .member .avatar-small:-webkit-any([style*="329114760660385794"],[style*="221087028995948546"],[style*="142410465027293184"],[style*="291600217726517248"],[style*="233611560545812480"]) ~ .member-inner .member-username .member-username-inner::after {
	content: "Nice person";
	--badgecolor: 255, 255, 255;
	border-color: rgb(var(--badgecolor));
	color: rgb(var(--badgecolor));
	background: rgba(var(--badgecolor), 0.0980392);
}

/* Beta Tester */

.message-group:not(.compact) .avatar-large:-webkit-any([style*="80593258903773184"]) ~ .comment .message h2 span.username-wrapper::after,
.channel-members .member .avatar-small:-webkit-any([style*="80593258903773184"]) ~ .member-inner .member-username .member-username-inner::after {
	content: "Beta tester";
	--badgecolor: 255, 255, 255;
	border-color: rgb(var(--badgecolor));
	color: rgb(var(--badgecolor));
	background: rgba(var(--badgecolor), 0.0980392);

}

/* Search */

.search-results-wrap > .scrollerWrap-2uBjct {
	background: rgba(0,0,0,.6) !important;
}

.search-result:after,
.search-result:before {
	content: none !important;
}
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {
	background: rgba(0,0,0,.4);
	border-radius: 5px !important;
}

.search-result.expanded {
	border: none !important;
}

.theme-dark .search-results-wrap .search-result .hit {
	box-shadow: none;
	background: rgba(0,0,0,0);
	border: none !important;
}

.search-header {
	background: rgba(0,0,0,.7) !important;
}


/***
 *      _____  _             _          _____                              _
 *     |  __ \| |           (_)        / ____|                            | |
 *     | |__) | |_   _  __ _ _ _ __   | (___  _   _ _ __  _ __   ___  _ __| |_
 *     |  ___/| | | | |/ _` | | '_ \   \___ \| | | | '_ \| '_ \ / _ \| '__| __|
 *     | |    | | |_| | (_| | | | | |  ____) | |_| | |_) | |_) | (_) | |  | |_
 *     |_|    |_|\__,_|\__, |_|_| |_| |_____/ \__,_| .__/| .__/ \___/|_|   \__|
 *                      __/ |                      | |   | |
 *                     |___/                       |_|   |_|
 */

/*                       CodeBlocks                                      */

:root {
	--des-1c:              "1c";

	--des-abnf:            "ABNF";
	--des-accesslog:       "Access Log";
	--des-actionscript:    "ActionScript";
	--des-ada:             "Ada";
	--des-apache:          "Apache";
	--des-applescript:     "Applescript";
	--des-arduino:         "Arduino";
	--des-armasm:          "ARM Assembly";
	--des-asciidoc:        "AsciiDoc";
	--des-aspectj:         "AspectJ";
	--des-atom:            "Atom Feed (XML)";
	--des-autohotkey:      "AutoHotkey";
	--des-autoit:          "AutoIt";
	--des-avrasm:          "AVR Assembler";
	--des-awk:             "Awk";
	--des-axapta:          "Axapta";

	--des-bash:            "Bash";
	--des-basic:           "Basic";
	--des-dos:             "Batch";
	--des-bnf:             "BNF";
	--des-brainfuck:       "Brainfuck";

	--des-c:               "C/C++";
	--des-cs:              "C#";
	--des-cal:             "CAL";
	--des-capnproto:       "Cap'n Proto";
	--des-ceylon:          "Ceylon";
	--des-clean:           "Clean";
	--des-clojure:         "Clojure";
	--des-clojure-repl:    "Clojure REPL";
	--des-cmake:           "CMake";
	--des-coffeescript:    "CoffeeScript";
	--des-coq:             "Coq";
	--des-cos:             "Caché Object Script";
	--des-podspec:         "CocoaPod";
	--des-crmsh:           "crmsh";
	--des-crystal:         "Crystal";
	--des-csp:             "CSP";
	--des-css:             "CSS";

	--des-d:               "D";
	--des-dart:            "Dart";
	--des-delphi:          "Delphi (Object Pascal)";
	--des-diff:            "Diff";
	--des-django:          "Django";
	--des-dns:             "DNS Zone File";
	--des-dockerfile:      "Dockerfile";
	--des-dsconfig:        "dsconfig";
	--des-dts:             "Device Tree";
	--des-dust:            "Dust";

	--des-ebnf:            "EBNF";
	--des-elixir:          "Elixir";
	--des-elm:             "Elm";
	--des-erb:             "ERB";
	--des-erlang:          "Erlang";
	--des-erlang-repl:     "Erlang REPL";
	--des-excel:           "Excel";

	--des-fs:              "F#";
	--des-fix:             "Fix";
	--des-flix:            "Flix";
	--des-fortran:         "Fortran";

	--des-gams:            "GAMS";
	--des-gauss:           "Gauss";
	--des-gcode:           "G-code";
	--des-gherkin:         "Gherkin";
	--des-glsl:            "GLSL";
	--des-go:              "Go";
	--des-golo:            "Golo";
	--des-gradle:          "Gradle";
	--des-groovy:          "Groovy";

	--des-haml:            "Haml";
	--des-handlebars:      "Handlebars";
	--des-haskell:         "Haskell";
	--des-haxe:            "Haxe";
	--des-hsp:             "HSP";
	--des-html:            "HTML";
	--des-htmlbars:        "HTMLBars";
	--des-http:            "HTTP";
	--des-https:           "HTTPS";
	--des-hy:              "Hy";

	--des-inform7:         "Inform7";
	--des-ini:             "Ini";
	--des-irpf90:          "IRPF90";
	--des-irb:             "IRB";

	--des-java:            "Java";
	--des-javascript:      "JavaScript (Babel)";
	--des-xjb:             "JAXB (XML)";
	--des-jboss-cli:       "JBoss CLI";
	--des-json:            "JSON";
	--des-julia:           "Julia";
	--des-julia-repl:      "Julia REPL";

	--des-kotlin:          "Kotlin";

	--des-lasso:           "Lasso";
	--des-ldif:            "LDIF";
	--des-leaf:            "Leaf";
	--des-less:            "Less";
	--des-lisp:            "Lisp";
	--des-livecodeserver:  "LiveCode Server";
	--des-livescript:      "LiveScript";
	--des-llvm:            "LLVM IR";
	--des-lsl:             "LSL";
	--des-lua:             "Lua";

	--des-makefile:        "Makefile";
	--des-markdown:        "Markdown";
	--des-mathematica:     "Mathematica";
	--des-matlab:          "MatLab";
	--des-maxima:          "Maxima";
	--des-mel:             "MEL";
	--des-mercury:         "Mercury";
	--des-mipsasm:         "MISP Assembly";
	--des-routeros:        "Mikrotik RouterOS";
	--des-mizar:           "Mizar";
	--des-mojolicious:     "Mojolicious";
	--des-monkey:          "Monkey";
	--des-moonscript:      "MoonScript";

	--des-n1ql:            "N1QL";
	--des-nginx:           "Nginx";
	--des-nimrod:          "Nimrod";
	--des-nix:             "Nix";
	--des-nsis:            "NSIS";

	--des-objectivec:      "Objective-C";
	--des-ocaml:           "OCaml";
	--des-openscad:        "OpenSCAD";
	--des-ruleslanguage:   "Oracle Rules Language";
	--des-oxygene:         "Oxygene";

	--des-parser3:         "Parser3";
	--des-pascal:          "Pascal/Object Pascal";
	--des-perl:            "Perl";
	--des-pf:              "PF";
	--des-php:             "PHP";
	--des-pony:            "Pony";
	--des-powershell:      "PowerShell";
	--des-processing:      "Processing";
	--des-prolog:          "Prolog";
	--des-plist:           "Property List";
	--des-protobuf:        "Protocol Buffers";
	--des-puppet:          "Puppet";
	--des-purebasic:       "PureBASIC";
	--des-python:          "Python";
	--des-profile:         "Python profile";

	--des-q:               "Q";
	--des-qml:             "QML";

	--des-r:               "R";
	--des-rib:             "RenderMan RIB";
	--des-rsl:             "RenderMan RSL";
	--des-roboconf:        "Roboconf";
	--des-rss:             "RSS Feed (XML)";
	--des-ruby:            "Ruby";
	--des-gemspec:         "Ruby Gem";
	--des-rust:            "Rust";

	--des-scala:           "Scala";
	--des-scheme:          "Scheme";
	--des-scilab:          "Scilab";
	--des-scss:            "SCSS";
	--des-shell:           "Shell";
	--des-smali:           "Smali";
	--des-smalltalk:       "Smalltalk";
	--des-sml:             "SML";
	--des-sqf:             "SQF";
	--des-sql:             "SQL";
	--des-stan:            "Stan";
	--des-stata:           "Stata";
	--des-step21:          "STEP Part 21";
	--des-stylus:          "Stylus";
	--des-subunit:         "SubUnit";
	--des-swift:           "Swift";

	--des-taggerscript:    "Tagger Script";
	--des-tap:             "TAP";
	--des-thor:            "Thor";
	--des-tcl:             "Tcl";
	--des-tex:             "TeX";
	--des-thrift:          "Thrift";
	--des-tp:              "TP";
	--des-twig:            "Twig";
	--des-typescript:      "TypeScript";
	--des-vala:            "Vala";
	--des-vbnet:           "VB.NET";
	--des-vbscript:        "VBScript";
	--des-vbscript-html:   "VBScript HTML";
	--des-verilog:         "Verilog";
	--des-vhdl:            "VHDL";
	--des-vim:             "Vim Script";

	--des-x86asm:          "x86 Assembly";
	--des-xl:              "XL";
	--des-xquery:          "XQuery";
	--des-yaml:            "YAML";
	--des-xhtml:           "XHTML";
	--des-xml:             "XML";
	--des-xsd:             "XML Schema";
	--des-xsl:             "XSL";

	--des-zephir:          "Zephir";

	--des-default:		0;
}


.message-group .comment .markup pre code:before {

  position: relative;
  display: block;
  top: 0;
  text-align: center;
  width: auto;
  color: rgba(255, 98, 98, 0.99);
  background-color: rgba(0,0,0,.5);
  border: 0px solid black;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0px !important;
  margin-bottom: 4px;

}

/* DSAC */

.guilds-wrapper.DSAC-styled .guild:not(:first-child):not(:last-child):not(.guild-sorter):before {
	content: "";
	-webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" ><path fill="currentColor" stroke="currentColor" stroke-width="0.7" d="M2.27333333,12 L2.74666667,9.33333333 L0.08,9.33333333 L0.313333333,8 L2.98,8 L3.68666667,4 L1.02,4 L1.25333333,2.66666667 L3.92,2.66666667 L4.39333333,0 L5.72666667,0 L5.25333333,2.66666667 L9.25333333,2.66666667 L9.72666667,0 L11.06,0 L10.5866667,2.66666667 L13.2533333,2.66666667 L13.02,4 L10.3533333,4 L9.64666667,8 L12.3133333,8 L12.08,9.33333333 L9.41333333,9.33333333 L8.94,12 L7.60666667,12 L8.08,9.33333333 L4.08,9.33333333 L3.60666667,12 L2.27333333,12 L2.27333333,12 Z M5.02,4 L4.31333333,8 L8.31333333,8 L9.02,4 L5.02,4 L5.02,4 Z"></path></svg>');
	-webkit-mask-size: 100%;
	-webkit-mask-position: 100%;
  	-webkit-mask-repeat: no-repeat;

	position: absolute;
	top: 8px;
	margin: 0;
	border-radius: 0;
	height: 20px;
	width: 20px;
	left: 5px;
	opacity: 1;
	transition: .7s;
}

.guilds-wrapper.DSAC-styled .guild:not(:first-child):not(:last-child).unread:before {
	background-color: rgb(255,98,98);
}

.guilds-wrapper.DSAC-styled .guild:not(:first-child):not(:last-child):before {
	background-color: white;
}

.guilds-wrapper.DSAC-styled .guild:not(:first-child):not(:last-child).selected:before {
	background-color: rgb(255,255,0);
}

.guilds-wrapper.DSAC-styled .guild:not(:first-child):not(:last-child).selected.unread:before {
	background-color: #ff8000;
}

.guilds-wrapper.DSAC-styled .guild:not(:first-child):not(:last-child):not(.guild-sorter) .guild-inner{
	margin-left: 23px;
}
